Source: openmediavault-apttool
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-apttool
Architecture: all
Depends: openmediavault (>= 8)
Description: apt tool plugin for OpenMediaVault.
 Find, install, and remove packages in apt repositories.
